table {
    width: 640px;
    max-width: 640px;
    min-width: 640px;
    color: white;
    font: 12pt Unifont, Arial;
    table-layout: fixed;
}

div.logo {
    font: 12pt Unifont;
    color: yellow;
}

.bold {
    font-weight: bold;
}

.row1 {
    white-space: nowrap;
    vertical-align: text-top;
    min-width: 70px;
    max-width: 70px;
}

.row2 {
    vertical-align: text-top;
    min-width: 120px;
    max-width: 120px;
    word-wrap: break-word;
}

.row3 {
    vertical-align: text-top;
    max-width: 450px;
    max-width: 450px;
    word-wrap: break-word;
}

.multirow {
    vertical-align: text-top;
    max-width: 640px;
    min-width: 640px;
    word-wrap: break-word;
}

.error {
    color: red;
}

.warning {
    color: yellow;
}

.user {
    color: aqua;
}

.module {
    color: orange;
}

.discord {
    color: blueviolet;
}